*.pdb
download/
downloadlists/
cfg/server_blacklist.txt
ServerConfig.vdf
GameState.txt
modelsounds.cache
sound/sound.cache
stats.txt
tf2_playerstats.dmx
maps/graphs/
demoheader.tmp
voice_ban.dt
cfg/config.cfg
cfg/settings.scr
media/viewed.res
custom/*
screenshots/
*.log
*.prt
*.vmf
*.vmx
cfg/user.scr
*.dem
scripts/tf_inventory.txt
